form {
    background-color: #ddd1f0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin: 15px 0 7px;
}

form input,
form textarea,
form button {
    padding: 7px;
    margin-bottom: 20px;
}

form button {
    background-color: #b59ed9;
    color: #1f1330;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #6f6087;
    color: white;
}

@media (max-width: 600px) {
    form {
        width: 75%;
    }
}

.error-messages {
    background-color: #ffe6e6;
    color: #ff0000;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    margin-bottom: 15px;
}
.error-messages ul {
    margin: 0;
    padding-left: 20px;
}